:host {
  display: flex;
  width: 100%;
  align-items: center;

  .label {
    text-wrap: none;
  }

  #current-path {
    flex: 1;
    border: 1px solid #050505;
    background-color: #dcdcdc;
    margin: 0 1em;
    padding: 0.25em 1em;
    width: 100%;
  }
}

