:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .label {
    font-size: 1.5rem;
  }

  h3 {
    text-align: center;
  }

  #path-examples {
    align-self: flex-start;
    background-color: #dcdcdc;
    border-radius: 5px;
    width: 100%;
    margin-top: 1em;

    ul {
      list-style-type: none;
      margin: 0.25em 0 ;
    }
  }
}
