:host {
  display: grid;
  grid-template-areas:
    "buttons  buttons"
    "addons   addons";
  grid-row-gap: 1em;

  #top-buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;

    button {

    }
  }

  #addon-list {
    grid-area: addons;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
